# Database Credentials
POSTGRES_DB=mydatabase
POSTGRES_USER=postgres
POSTGRES_PASSWORD=SuperSecretSecurePassword123!

# App Configuration
API_PORT=8080

# Secure API Key for LoRa Sensors and Clients
API_KEY=open-ried-sens-live-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx