#pragma once

#include <stdint.h>

const uint64_t joinEUI = 0x0000000000000000ULL;
const uint64_t devEUI = 0x0000000000000000ULL;
const uint8_t appKey[] = {
    0x44, 0x40, ...
};
const uint8_t nwkKey[] = {
    0x44, 0x40, ...
};
